<% provide(:title, "Home") %>
        <h1>Home</h1>
        <p>Drive-by requests. No “ticket tracking” nightmare? Keep on top of IT maintenance and make it easy for your users to track their IT needs.
        <br>
        Go beyond ticketing: understand (and change!) team behavior... and capture your value to the business.
        </p>
        <p>Setup is easier than a reboot! After all, no sense wasting a bunch of time learning how to use your maintenance app.
        <br>
        First ticketing system? No problem — work tickets in minutes and tackle issues in no time.
        </p>


