<% provide(:title, "Knowledge Platform") %>
        <h1>Knowledge Platform</h1>
        <p>
        Stop repeating yourself: captured everyday answers in the Knowledge Platform and serve yourself instead of waiting for technicians or as waiting for the technician or rather lining up a ticket on the User portal.
        </p>

        <p>Frequently Asked Questions (FAQs):</p>
        <br>
        <p><b>Q1. The screen has gone off while working without any warning.</b></p>
        
        <p>A1. Check the  power cable at the back of your monitor and connection at the power back up.</p>


