<% provide(:title, "Tickets") %>
        <h1>Tickets</h1>
        <p>Keep a tight rein on IT incidents and tasks: easily generated tickets, scribble summary problem description.
        <br> 
        Plus, use custom fields to track(report tab) just what you need to keep things humming.
        </p>
    </body>
</html>

