<% provide(:title, "User Portal") %>
        <h1>User Portal</h1>
        <p>Help users help themselves with the easy-to-edit user portal: they can submit tickets, submit detailed problem, and view helpful knowledge platform articles.
        </p>
    </body>
</html>


